<h2 class="h4 font-title fw-bolder font-weight-md mt-2">CSS 컬러 표기 스타일 </h2>
<b class="h6 fw-bolder font-weight-md ">[컴포넌트 이름]-[색]-[타입]</b>
<p class="font-weight-sm mb-4">
예를들어 badge-blue-fill 의 경우 부트스트랩 표기로 치환한다면 bg-primary 이에요. 옅은 색조의 경우 fill 대신에 tint를 사용하죠.
</p>
