<h2 class="h4 font-title fw-bolder font-weight-md mt-2">UX Writing </h2>

<b class="h6 fw-bolder font-weight-md ">-해요. 와 같은 대화체를 권장해요. 대화에 부연설명이 필요하다면 -죠. 를 붙여 주세요. </b>
<br><br>


<b class="h6 fw-bolder font-weight-md mb-1">사용자의 단순 의사를 물어보는 모달창은 다음과 같이 구성해요. </b>
<img src="/image/DDS1.png" alt="" class="img-fluid">
<br><br>


<b class="h6 fw-bolder font-weight-md mt-2">사용자의 입력을 받는 경우 다음과 같이 구성해요.</b>
<img src="/image/DDS2.png" alt="" class="img-fluid">
