<h2 class="h4 font-title fw-bolder font-weight-md mt-2">UX Writing </h2>
<p class="font-weight-sm mb-4">
    사이드바는 부트스트랩5 에서의 offcanvas 기능이에요.
    메뉴나 콘텐츠, 핸들링이 필요하다면 사이드바를 이용하면 됩니다.
</p>

<pre class="mt-4">
    <code data-language="html">
&lt;button class=&quot;btn btn-blue font-weight-sm px-4 py-3 mt-2&quot; type=&quot;button&quot; data-bs-toggle=&quot;offcanvas&quot; data-bs-target=&quot;#offcanvasExample&quot; aria-controls=&quot;offcanvasExample&quot;&gt;
    사이드바 열기
&lt;/button&gt;

&lt;dds-sidebar 
    sidebar-title=&quot;사이드바&quot;
    sidebar-id=&quot;offcanvasExample&quot;&gt;


&lt;/dds-sidebar&gt;
</code>
</pre>