<!DOCTYPE html>
<html lang="ko">
    {{> head}}
  <body>
    <dds-navbar nav-title="DDS" nav-fixed="top">
        <dds-navbar-item item-link="/about">소개</dds-navbar-item>
        <dds-navbar-item item-link="/guide">가이드라인</dds-navbar-item>

    </dds-navbar>



    <dds-header 
        header-title="디자인, 경계를 넘어"
        header-sub-title="경계를 넘는 디자인, 데벤트 디자인 시스템이 만들어 나갑니다.">
        
        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <button class="btn btn-blue font-weight-sm px-4 py-3 mt-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                사이드바 열기
            </button>
        </div>
    </dds-header>



    
    <section class="py-1" id="features">
        <div class="container-fluid px-4 my-5">
            <div class="row d-flex align-items-start">

                <dds-sidebar 
                    sidebar-title="사이드바"
                    sidebar-id="offcanvasExample">

                    <dds-navtab>
                        <dds-navtab-item item-id="home" is-selected="false"></dds-navtab-item>

                        <dds-navtab-item item-id="header" is-selected="false"></dds-navtab-item>
                        <dds-navtab-item item-id="color" is-selected="false"></dds-navtab-item>
                        <dds-navtab-item item-id="dropdown" is-selected="false"></dds-navtab-item>

                        <dds-navtab-item item-id="footer" is-selected="false"></dds-navtab-item>
                        <dds-navtab-item item-id="navbar" is-selected="false"></dds-navtab-item>
                        <dds-navtab-item item-id="sidebar" is-selected="false"></dds-navtab-item>
                        <dds-navtab-item item-id="button" is-selected="false"></dds-navtab-item>
                        <dds-navtab-item item-id="popup" is-selected="false"></dds-navtab-item>

                        <dds-navtab-item item-id="modal" is-selected="false"></dds-navtab-item>
                        <dds-navtab-item item-id="form" is-selected="false"></dds-navtab-item>

                    </dds-navtab>
                </dds-sidebar>


                <div class="col tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
{{> pages/components/home}}
                    </div>

                    <div class="tab-pane fade" id="v-pills-color" role="tabpanel" aria-labelledby="v-pills-color-tab">
{{> pages/components/color}}
                    </div>

                    <div class="tab-pane fade" id="v-pills-dropdown" role="tabpanel" aria-labelledby="v-pills-dropdown-tab">
{{> pages/components/dropdown}}
                    </div>

                    <div class="tab-pane fade" id="v-pills-header" role="tabpanel" aria-labelledby="v-pills-header-tab">
{{> pages/components/header}}
                    </div>

                    <div class="tab-pane fade" id="v-pills-footer" role="tabpanel" aria-labelledby="v-pills-footer-tab">
{{> pages/components/footer}}
                    </div>

                    <div class="tab-pane fade" id="v-pills-navbar" role="tabpanel" aria-labelledby="v-pills-navbar-tab">
{{> pages/components/navbar}}
                    </div>
                    

                    <div class="tab-pane fade" id="v-pills-sidebar" role="tabpanel" aria-labelledby="v-pills-sidebar-tab">
{{> pages/components/sidebar}}
                    </div>

                    <div class="tab-pane fade" id="v-pills-button" role="tabpanel" aria-labelledby="v-pills-button-tab">
{{> pages/components/button}}
                    </div>


                    <div class="tab-pane fade" id="v-pills-popup" role="tabpanel" aria-labelledby="v-pills-popup-tab">
{{> pages/components/popup}}
                    </div>

                    <div class="tab-pane fade" id="v-pills-modal" role="tabpanel" aria-labelledby="v-pills-modal-tab">
{{> pages/components/modal}}
                    </div>



                    <div class="tab-pane fade" id="v-pills-form" role="tabpanel" aria-labelledby="v-pills-form-tab">
{{> pages/components/input}}
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <dds-popup
            popup-title="테스트 팝업"
            popup-id="myToastEl"
            popup-delay="5000"
            popup-autohide="true">안녕하세요. 테스트 팝업이에요.
        </dds-popup>

    </div>


    {{> footer}}

    <script>




        var myOffcanvas = document.getElementById('offcanvasExample')
        var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas)


    </script>



  </body>
</html>