<h2 class="h4 fw-bolder font-weight-md mt-2">뱃지 </h2>
<p class="font-weight-sm mb-4">
    뱃지, 상징의 증표와도 같아요. 벳지는 피드나 게시글의 간략한 특성을 표현해주죠.
</p>


<span class="badge badge-blue-tint">Blue Tint</span>
<span class="badge badge-blue-fill">Blue Fill</span>

<span class="badge badge-green-tint">Green Tint</span>
<span class="badge badge-green-fill">Green Fill</span>

<span class="badge badge-red-tint">Red Tint</span>
<span class="badge badge-red-fill">Red Fill</span>

<span class="badge badge-yellow-tint">Yellow Tint</span>
<span class="badge badge-yellow-fill">Yellow Fill</span>

<span class="badge bg-light text-dark">Light</span>
<span class="badge bg-dark text-light">Dark</span>


<pre class="mt-4"><code data-language="html">
<span class="badge badge-blue-tint">Blue Tint</span>
<span class="badge badge-blue-fill">Blue Fill</span>

<span class="badge badge-green-tint">Green Tint</span>
<span class="badge badge-green-fill">Green Fill</span>

<span class="badge badge-red-tint">Red Tint</span>
<span class="badge badge-red-fill">Red Fill</span>

<span class="badge badge-yellow-tint">Yellow Tint</span>
<span class="badge badge-yellow-fill">Yellow Fill</span>

<span class="badge bg-light text-dark">Light</span>
<span class="badge bg-dark text-light">Dark</span></code></pre>

