<h2 class="h4 fw-bolder font-weight-md mt-2">뱃지 </h2>
<p class="font-weight-sm mb-4">
    뱃지, 상징의 증표와도 같아요. 벳지는 피드나 게시글의 간략한 특성을 표현해주죠.
</p>


<span class="badge bg-blue text-primary">Blue</span>
<span class="badge bg-green text-success">Green</span>
<span class="badge bg-red text-danger">Red</span>
<span class="badge bg-yellow text-warning">Yellow</span>
<span class="badge bg-light text-dark">Light</span>
<span class="badge bg-dark text-light">Dark</span>


<pre class="mt-4"><code data-language="html">
<span class="badge bg-blue text-primary">Blue</span>
<span class="badge bg-green text-success">Green</span>
<span class="badge bg-red text-danger">Red</span>
<span class="badge bg-yellow text-warning">Yellow</span>
<span class="badge bg-light text-dark">Light</span>
<span class="badge bg-dark text-light">Dark</span></code></pre>

