<h2 class="h4 fw-bolder font-weight-md mt-2">버튼 </h2>
<p class="font-weight-sm mb-4">
    라이트 테마에서의 버튼 디자인은 파스텔톤 위주의 컬러를 권고합니다.
    색상은 primary(blue), success(green), light(white), dark(black) 을 지원합니다. 
    <button class="btn btn-inline">인라인 버튼이에요!</button>

</p>


<button class="btn btn-blue-tint">Blue Tint</button>
<button class="btn btn-blue-fill">Blue Fill</button>

<button class="btn btn-green-tint">Green Tint</button>
<button class="btn btn-green-fill">Green Fill</button>

<button class="btn btn-red-tint">Red Tint</button>
<button class="btn btn-red-fill">Red Fill</button>

<button class="btn btn-yellow-tint">Yellow Tint</button>
<button class="btn btn-yellow-fill">Yellow Fill</button>

<button class="btn btn-light">Light</button>
<button class="btn btn-dark">Dark</button>
<button class="btn btn-transparent">Transparent</button>
<button class="btn btn-inline">Inline</button>


<pre class="mt-4"><code data-language="html">
<button class="btn btn-blue-tint">Blue Tint</button>
<button class="btn btn-blue-fill">Blue Fill</button>

<button class="btn btn-green-tint">Green Tint</button>
<button class="btn btn-green-fill">Green Fill</button>

<button class="btn btn-red-tint">Red Tint</button>
<button class="btn btn-red-fill">Red Fill</button>

<button class="btn btn-yellow-tint">Yellow Tint</button>
<button class="btn btn-yellow-fill">Yellow Fill</button>
<button class="btn btn-light" >Light</button>
<button class="btn btn-dark">Dark</button>
<button class="btn btn-transparent">Transparent</button>
<button class="btn btn-inline">Inline</button></code></pre>

