<h2 class="h4 fw-bolder font-weight-md mt-2">색 </h2>

<p class="font-weight-sm mb-4">blue</p>

<div class="alert blue-100">blue-100</div>
<div class="alert blue-200">blue-200</div>
<div class="alert blue-300">blue-300</div>


<p class="font-weight-sm mb-4">red</p>

<div class="alert red-100">red-100</div>
<div class="alert red-200">red-200</div>
<div class="alert red-300">red-300</div>


<p class="font-weight-sm mb-4">green</p>

<div class="alert green-100">green-100</div>
<div class="alert green-200">green-200</div>
<div class="alert green-300">green-300</div>


<p class="font-weight-sm mb-4">yellow</p>

<div class="alert yellow-100">yellow-100</div>
<div class="alert yellow-200">yellow-200</div>
<div class="alert yellow-300">yellow-300</div>