<h2 class="h4 font-title fw-bolder font-weight-md mt-2">하단 푸터 </h2>

<p class="font-weight-sm mb-4">
    푸터는 하단의 사이트의 정보를 표기하는 공간이에요.
    푸터를 꾸미는건 사이트의 정보를 확고하게 하는 것.
    밋밋한 푸터가 되지 않도록 신경을 좀 써봤어요.
</p>

<pre>                       
    <dds-footer
        project-title="DeVent Design System"
        sub-title="데벤트"
        company-name="사업자등록번호 : 429-52-00535 | 대표: 허형준"
        project-email="문의: info@devent.kr">
    </dds-footer>         
</pre>

<pre class="mt-4"><code data-language="html">
&lt;dds-footer
    project-title=&quot;DeVent Design System&quot;
    sub-title=&quot;데벤트&quot;
    company-name=&quot;사업자등록번호 : 429-52-00535 | 대표: 허형준&quot;
    project-email=&quot;문의: info@devent.kr&quot;&gt;
&lt;/dds-footer&gt;
</code>
</pre>