<h2 class="h4 font-title fw-bolder font-weight-md mt-2">헤더 </h2>
<p class="font-weight-sm mb-4">
    헤더 디자인은 사용자가 처음으로 마주하는 중요한 페이지에요.
    불필요한 메시지는 제외하고 하나의 제목, 하나의 부제목, 하나의 버튼 원칙을 고수해야합니다.
    따라서 직관적인 메시지를 심플하게 보여주는게 디자인 시스템의 핵심이죠.
</p>

<pre>
    <dds-header 
        header-title="디자인, 경계를 넘어"
        header-sub-title="데벤트의 디자인 시스템은 디자인의 경계를 뛰어넘는 우아함을 선사합니다. 그야말로 경이로움에 가까운 전율을 느낄 수 있죠.">
        
    </dds-header>
</pre>

<pre class="mt-4"><code data-language="html">
&lt;dds-header 
    header-title=&quot;디자인, 경계를 넘어&quot;
    header-sub-title=&quot;데벤트의 디자인 시스템은 디자인의 경계를 뛰어넘는 우아함을 선사합니다. 그야말로 경이로움에 가까운 전율을 느낄 수 있죠.&quot;&gt;
&lt;/dds-header&gt;</code>
</pre>


<h2 class="h4 font-title fw-bolder font-weight-md mt-2">버튼이 포함된 헤더 </h2>
<p class="font-weight-sm mb-4">
    헤더에 버튼이 빠질 수 없죠.
    버튼은 밋밋하지 않은 해더를 만들어주고 유저 사용성까지 챙겨주는 고마운 친구랍니다.
</p>

<pre>
<dds-header 
    header-title="디자인, 경계를 넘어"
    header-sub-title="데벤트의 디자인 시스템은 디자인의 경계를 뛰어넘는 우아함을 선사합니다. 그야말로 경이로움에 가까운 전율을 느낄 수 있죠.">
    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
        <button>yes!</button>
    </div>
</dds-header>
</pre>

<pre class="mt-4"><code data-language="html">
&lt;dds-header 
    header-title=&quot;디자인, 경계를 넘어&quot;
    header-sub-title=&quot;데벤트의 디자인 시스템은 디자인의 경계를 뛰어넘는 우아함을 선사합니다. 그야말로 경이로움에 가까운 전율을 느낄 수 있죠.&quot;&gt;
        &lt;div class=&quot;d-grid gap-3 d-sm-flex justify-content-sm-center&quot;&gt;
            &lt;button&gt;yes!&lt;/button&gt;
        &lt;/div&gt;
&lt;/dds-header&gt;</code>
</pre>