
<h2 class="h4 fw-bolder font-weight-md mt-2">텍스트입력 </h2>

<div class="mb-3">
    <textarea class="form-control" rows="3"></textarea>
</div>

<h2 class="h4 fw-bolder font-weight-md mt-2">입력 </h2>

<div class="mb-3">
    <input type="text" class="form-control"  placeholder="name@example.com">
</div>
