:root {
    --borderRadius: 10px;
}

.btn-outline-light:hover {
    color: #212529 !important;
}

.btn {
    border-radius: var(--borderRadius) !important;
}

.modal-content {
    border-radius: var(--borderRadius);
    box-shadow: 2px 0px 40px 5px #272d331e;
}





.card-title{
    font-family: 'Noto Sans KR', sans-serif;

}

.form-textarea{
    border: none !important;
}

.border-bottom {
    border-bottom: 0.1px solid #d1d8df!important;

}

header {
    margin-top: 30px;
}