@import 'foundation/color';
@import 'foundation/variable';

.bg-blue {
    background-color: $blue-100;
}


.bg-green {
    background-color: $green-100;
}


.bg-red {
    background-color: $red-100;
}


.bg-yellow {
    background-color: $yellow-100;
}
