@import 'foundation/color';
@import 'foundation/variable';


@mixin badges($color-text, $color-background) {
    background-color: $color-background;
    color: $color-text;

    @content;
}
  

.badge-blue-tint {
    @include badges(
        $color-text: $blue-500, 
        $color-background: $blue-100
    ) {}
}

.badge-blue-fill {
    @include badges(
        $color-text: $light-100, 
        $color-background: $blue-500
    ) {}
}


.badge-green-tint {
    @include badges(
        $color-text: $green-500, 
        $color-background: $green-100
    ) {}
}

.badge-green-fill {
    @include badges(
        $color-text: $light-100, 
        $color-background: $green-500
    ) {}
}


.badge-red-tint {
    @include badges(
        $color-text: $red-500, 
        $color-background: $red-100
    ) {}
}

.badge-red-fill {
    @include badges(
        $color-text: $light-100, 
        $color-background: $red-500
    ) {}
}


.badge-yellow-tint {
    @include badges(
        $color-text: $yellow-500, 
        $color-background: $yellow-100
    ) {}
}

.badge-yellow-fill {
    @include badges(
        $color-text: $light-100, 
        $color-background: $yellow-500
    ) {}
}