

@import 'foundation/color';
@import 'foundation/variable';


.btn {
  border-radius: $border-radius;
  border-color: transparent;
  padding: $button-padding !important;
  font-family: 'Noto Sans KR', sans-serif;
  word-break: keep-all;
  font-weight: 400 !important;
}

.btn-blue {
  background-color: $blue-100;
  color: $blue-300;
  &:hover, &:focus, &:active, &:visited {
    background-color: $blue-200 !important;
    border-color: transparent !important;
    box-shadow: none !important;
    color: $blue-300 !important;
  }
}

.btn-light {
  background-color: $light-100;
  color: $dark;
  &:hover, &:focus, &:active, &:visited {
    background-color: $light-200 !important;
    border-color: transparent !important;
    box-shadow: none !important;
    color: $dark !important;
  }
}

.btn-dark {
  background-color: $dark;
  color: $light-100;
  &:hover, &:focus, &:active, &:visited {
    background-color: $dark !important;
    border-color: transparent !important;
    box-shadow: none !important;
    color: $light-100 !important;
  }
}

.btn-green {
  background-color: $green-100;
  color: $green-300;
  &:hover, &:focus, &:active, &:visited {
    background-color: $green-200 !important;
    border-color: transparent !important;
    box-shadow: none !important;
    color: $green-300 !important;
  }
}

.btn-red {
  background-color: $red-100;
  color: $red-300;
  &:hover, &:focus, &:active, &:visited {
    background-color: $red-200 !important;
    border-color: transparent !important;
    box-shadow: none !important;
    color: $red-300 !important;
  }
}

.btn-yellow {
  background-color: $yellow-100;
  color: $yellow-300;
  &:hover, &:focus, &:active, &:visited {
    background-color: $yellow-200 !important;
    border-color: transparent !important;
    box-shadow: none !important;
    color: $yellow-300 !important;
  }
}