

@import 'foundation/color';
@import 'foundation/variable';

@mixin buttons($color-100, $color-200, $color-300) {
  background-color: $color-100;
  color: $color-300;
  &:hover, &:focus, &:active, &:visited {
    background-color: $color-200 !important;
    border-color: transparent !important;
    box-shadow: none !important;
    color: $color-300 !important;
  }
  @content;
}


.btn{
  border-radius: $border-radius;
  border-color: transparent;
  padding: $button-padding !important;
  font-family: 'Noto Sans KR', sans-serif;
  word-break: keep-all;
  font-weight: 400 !important;
  font-size: .875rem;
  line-height: 1.325;

  &:hover, &:focus, &:active, &:visited {
    box-shadow: none !important;
  }
}


.btn-blue {
  @include buttons(
    $color-100: $blue-100, 
    $color-200: $blue-200,
    $color-300: $blue-300
  ) {}
}

.btn-blue-tint {
  @include buttons(
    $color-100: $blue-100, 
    $color-200: $blue-200,
    $color-300: $blue-300
  ) {}
}

.btn-blue-fill {
  @include buttons(
    $color-100: $blue-300, 
    $color-200: $blue-400,
    $color-300: $light-100
  ) {}
}

.btn-green {
  @include buttons(
    $color-100: $green-100, 
    $color-200: $green-200,
    $color-300: $green-300
  ) {}
}

.btn-green-tint {
  @include buttons(
    $color-100: $green-100, 
    $color-200: $green-200,
    $color-300: $green-300
  ) {}
}

.btn-green-fill {
  @include buttons(
    $color-100: $green-300, 
    $color-200: $green-400,
    $color-300: $light-100
  ) {}
}

.btn-red {
  @include buttons(
    $color-100: $red-100, 
    $color-200: $red-200,
    $color-300: $red-300
  ) {}
}

.btn-red-tint {
  @include buttons(
    $color-100: $red-100, 
    $color-200: $red-200,
    $color-300: $red-300
  ) {}
}

.btn-red-fill {
  @include buttons(
    $color-100: $red-300, 
    $color-200: $red-400,
    $color-300: $light-100
  ) {}
}

.btn-yellow {
  @include buttons(
    $color-100: $yellow-100, 
    $color-200: $yellow-200,
    $color-300: $yellow-300
  ) {}
}

.btn-yellow-tint {
  @include buttons(
    $color-100: $yellow-100, 
    $color-200: $yellow-200,
    $color-300: $yellow-300
  ) {}
}

.btn-yellow-fill {
  @include buttons(
    $color-100: $yellow-300, 
    $color-200: $yellow-400,
    $color-300: $light-100
  ) {}
}


.btn-light {
  @include buttons(
    $color-100: $light-100, 
    $color-200: $light-200,
    $color-300: $dark
  ) {}
}

.btn-dark {
  @include buttons(
    $color-100: $dark, 
    $color-200: $dark,
    $color-300: $light-100
  ) {}
}







.btn-transparent {
  background-color: transparent !important;
}

.btn-inline {
  padding: 0px !important;

}