

@import 'foundation/color';
@import 'foundation/variable';


.alert {
    border-radius: $border-radius;

}

.blue-100 {
    background-color: $blue-100;
}
.blue-200 {
    background-color: $blue-200;
}
.blue-300 {
    background-color: $blue-300;
}

.green-100 {
    background-color: $green-100;
}
.green-200 {
    background-color: $green-200;
}
.green-300 {
    background-color: $green-300;
}

.red-100 {
    background-color: $red-100;
}
.red-200 {
    background-color: $red-200;
}
.red-300 {
    background-color: $red-300;
}

.yellow-100 {
    background-color: $yellow-100;
}
.yellow-200 {
    background-color: $yellow-200;
}
.yellow-300 {
    background-color: $yellow-300;
}