@import 'foundation/color';
@import 'foundation/variable';

.dropdown-menu {
    border-radius: $border-radius;
    border: $border-line;
    box-shadow: $border-shadow;
    padding: 0rem .2rem !important;

    background-color: #ffffffba;
    -webkit-backdrop-filter: saturate(120%) blur(8px);
    backdrop-filter: saturate(120%) blur(8px);
}

.dropdown-item {
    border-radius: $border-radius;
    padding: 0.55rem 1rem !important;
    margin: .2rem 0rem;
}