@import 'foundation/color';
@import 'foundation/variable';


.font-title {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
}

.font-weight-lg {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    font-weight: 700 !important;
}
.font-weight-md {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    font-weight: 500 !important;
}

.font-weight-sm {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    font-weight: 400 !important;
}

.font-link{
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    font-weight: 400 !important;
    color: $dark !important;
    text-decoration: none;
}

.lead {
    word-break: keep-all;
}

.close {
    font-size: 13px !important;
}

b {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400 !important;
}

pre {
    border: transparent !important;
    background-color: $light-100;
    border-radius: $border-radius;
    overflow-x: scroll !important;
    margin-bottom: 0px;

}

code {
    overflow-x: scroll !important;
}

i {
    font-size: 1rem;
}