@import 'foundation/color';
@import 'foundation/variable';



.form-control{
    background-color: $light-100;
    border-radius: $border-radius;
    border: none !important;
    box-shadow: none !important;

    &:focus {
        background-color: $light-100;
    }
}

.input-group-text {
    border: none !important;
    border-radius: $border-radius;
    background-color: $light-100;

}