@import 'foundation/variable';

.modal-content {
    border-radius: $border-radius;
    border: transparent;
    box-shadow: 2px 0px 45px 6px #272d331e;
    padding: 1.875rem 2.1875rem;

}

.modal-body {
    padding: 0px;
}

.modal-bottom {
    border-radius: $border-radius;

}

.modal-footer {
    padding: 0px;
    margin: 0px;

}


.modal-backdrop {
  
    // Fade for backdrop
    &.fade { 
        opacity: 0; 
    }
    &.show { 
        opacity: .11; 
    }
  }
