@import 'foundation/color';
@import 'foundation/variable';



.offcanvas {
    background-color: #ffffffd5;
    -webkit-backdrop-filter: saturate(120%) blur(16px);
    backdrop-filter: saturate(120%) blur(16px);
}


.offcanvas-header > i {
    padding: .45rem .75rem !important;
    padding-right: .35rem !important;
    margin-bottom: 0rem !important;
    font-size: 1rem;
}